@tailwind base;
@tailwind components;
@tailwind utilities;



.man:hover .small{
    opacity: 0;
}

.man:hover .large{
    opacity: 100;
}

.card:hover .imge {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.card:hover .text{
       opacity: 20%;
}